

.button, .icon-button {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    z-index: 1;
    transition: all .3s ease;
}

.icon-button {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}

.button {
    border-radius: var(--border-radius);
    width: fit-content;
    height: fit-content;
    padding: 12px 30px;
}

.primary-button {
    color: var(--theme-on-primary);
    background-color: var(--theme-primary);
    padding: 12px 45px;
}

.secondary-button {
    outline: 1px solid var(--theme-primary);
    outline-offset: -1px !important;
    color: var(--theme-primary);
    background-color: var(--theme-background-1);
}

.button-text {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    font-family: var(--typography-font-secondary-bold);
    font-size: .85rem;
}

.secondary-button::after, .icon-button::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--theme-primary);
    border-radius: 50%;
    width: 0px;
    height: 0px;
    padding: 0px;
    transition: all .3s ease;
}

.button:active, .icon-button:active {
    outline: none;
}

.button--active {
    background-color: var(--theme-gradient-1) !important;
    color: var(--theme-on-primary) !important;
}

/* check for none hover devices */

@media all and (hover:hover) {
    .secondary-button:hover::after, .icon-button:hover::after{
        width: 110% !important;
        padding-bottom: 110% !important;
    }
    
    .button:hover, .icon-button:hover{
        outline: none;
    }
    
    .secondary-button:hover:not(.footer-button) .button-text, .icon-button:hover .button-text{
        color: var(--theme-on-primary) !important;
    }
    
    .secondary-button:active::after, .primary-button:active, .icon-button:active::after {
        background-color: var(--theme-gradient-1);
    }
}

/* nav-button */

.nav-primary-button {
    color: var(--theme-primary);
    background-color: transparent;
    outline: none;
    outline-offset: 0px !important;
}

@media all and (hover:hover) {
    .nav-primary-button:hover {
        background-color: var(--theme-primary-very-light);
    }

    .nav-primary-button:active {
        background-color: var(--theme-primary);
        color: var(--theme-on-primary);
    }
}