.login-container {
    width: 100%;
    display: grid;
    border: 2px solid var(--theme-primary);
    border-radius: var(--border-radius-large);
    padding: 20px;
}


/* slide show */

.login-swipe {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: var(--theme-primary);
    border-radius: inherit;
}

/* .login-swipe-card:nth-child(1) {
    background: linear-gradient(135deg, var(--theme-primary) 0%, var(--theme-gradient-2) 50%);
    linear-gradient(var(--theme-primary) 0%, var(--theme-accent-4) 50%);
}

.login-swipe-card:nth-child(2) {
    background: linear-gradient(135deg, var(--theme-gradient-2) 0%, var(--theme-accent-4) 50%);
}

.login-swipe-card:nth-child(3) {
    background: linear-gradient(135deg, var(--theme-primary) 0%, var(--theme-accent-2) 50%);
} */

.login-swipe-container {
    position: relative;
    width: 300% !important;
    display: flex;
    transition: .4s ease;
}

.login-swipe-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 30px 10px 30px;
    transition: all .2s ease;
}

.login-swipe-card > * {
    color: var(--theme-on-primary);
}

.login-swipe-card-heading {
    font-size: 1.8rem;
}

.login-swipe-card-text {
    padding: 10px 0px 40px 0px;
}

.login-swipe-card-svg {
    width: 60%;
    max-width: 200px;
    align-self: center;
    padding-bottom: 60px;
}

.login-swipe-page-indication {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: center;
    padding-bottom: 20px;
}

.login-swipe-page-indication-dot, .login-swipe-page-indication-dot--active {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--theme-background-3);
}

.login-swipe-page-indication-dot--active {
    background-color: var(--theme-on-primary) !important;
}

/* form field log in*/

.login-interface {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-interface-heading {
    font-size: 2rem;
    text-align: center;
}

.login-interface-text {
    text-align: center;
}

.login-interface-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-button {
    width: 100%;
    margin-top: 10px;
}

.login-button {
    background-color: var(--theme-gradient-1);
}


@media all and (min-width: 750px) {
    .login-container {
        grid-template-columns: min-content auto;
    }

    .login-swipe {
        width: min(35vw, 320px) !important;
    }

    .login-interface {
        align-self: center;
        max-width: 420px;
        padding: 0px 20px;
        justify-self: center;
    }
}