.nav {
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: var(--theme-on-primary);
    /*box-shadow: 0 1px 5px rgb(0 0 0 / 0.2);;*/

}


.nav-container {
    position: relative;
    display: grid;
    align-items: center;
    padding: 20px 0px;
    width: 85%;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    background-color: inherit;
    grid-auto-flow: column;
}

.logo {
    position: relative;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: fit-content;

    height: 50px;
    color: #326AEA;
    cursor: pointer;
    outline-offset: 8px !important;
}

.logo-text {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    
    flex-direction: column;
}

.logo-text span:nth-of-type(1) {
    font-size: 22px;
}

.logo-text span:nth-of-type(2) {
    font-size: 12px;
}

.hamburger-menu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 49px;
    width: 55px;
    -webkit-user-select: none;
    user-select: none;
}

.hamburger-menu input {
    position: absolute;
    width: 55px;
    height: 49px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
}

.hamburger-menu span {
    display: block;
    position: relative;
    height: 2px;
}

.hamburger-menu .span1 {
    width: 42px;    
    margin-top: 10px;
    background: #326AEA;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease;
}

.hamburger-menu .span {
    width: 55px;
    margin-top: 10px;
    background: #326AEA;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s ease;
}

.hamburger-menu span:first-child {
    transform-origin: 0% 0%;
}

.hamburger-menu span:nth-last-child(3) {
    transform-origin: 0% 100%;
}

.hamburger-menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
    -ms-transform: rotate(45deg) translate(-2px, -1px);
}

.hamburger-menu input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -ms-transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger-menu input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
    -webkit-transform: rotate(-45deg) translate(0, -1px);
    -ms-transform: rotate(-45deg) translate(0, -1px);
}

.nav-list-item--large, .nav-list-item--mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 30px;
    font-size: .85rem;
    font-family: var(--typography-font-secondary-bold);
    padding: 10px 15px;
    border-radius: 20px !important;
    outline-offset: 0px;
    cursor: pointer;
}

.list-item__icon {
    color: var(--theme-primary);
}

.nav-list-item--active {
    background-color: var(--theme-primary-light) !important;
}

.nav-list-item__text{
    color: var(--theme-on-background);
}

.nav-list-item--active > a {
    text-decoration: none !important;
}


.login-section {
    display: none;
}

.nav-list--large {
    display: none;
}

.nav-primary-button {
    margin: 0px 5px 0px 0px;
}

.nav-secondary-button {
    margin: 0px 0px 0px 5px
}

.nav-list--mobile {
    position: absolute;
    display: flex;
    top: -600px;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
    background-color: var(--theme-background-1);
    z-index: 10;
    transition: .3s ease;
}

.nav-list-mobile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 7.5%;
}

/* ul container*/
.nav-list-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.nav-list-svg--mobile {
    height: 338px;
}

.nav-list-item--mobile {
    height: 45px !important;
    font-size: 1rem;
    margin: 0px 10px;
}

.nav-list-item--mobile__contact {
    height: 45px !important;
    font-size: 1rem !important;
    margin: 0px 10px;
}

.nav-list-item--mobile:active .nav-list-item__text {
    color: var(--theme-primary);
}

.nav-list-footer--mobile {
    position: relative;
    padding: 20px 7.5%;
    border-top: 2px solid var(--theme-background-3);
}

.blur {
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
    position: fixed;
}

@media all and (hover:hover) {
    .nav-list-item--large:hover {
        background-color: var(--theme-primary-very-light);
    }

    .nav-list-item--mobile:hover {
        background-color: var(--theme-primary-very-light);
    }

    .nav-list-item--large:active > .nav-list-item__text {
        color: var(--theme-primary);
    }
}

@media all and (min-width: 700px) {

    .nav-menu {
        grid-column: 1;
    }

    .login-section {
        display: flex;
    }

    .nav-container {
        grid-template-columns: 80px 1fr 1fr;
    }

    .logo {
        grid-column: 2;
    }

    .login-section {
        grid-column: 3;
        justify-self: flex-end;
    }
    
}

@media all and (min-width: 1000px) {

    .nav-list--large {
        display: block;
    }

    .nav-menu {
        display: none !important;
    }

    .nav-container {
        grid-template-columns: 220px 1fr 1fr;   
    }

    .nav-menu, .logo, .login-section {
        grid-column: unset;
    }

}