.section {
    position: relative;
    width: 85%;
    max-width: 1000px;
    padding: 40px 0px 80px 0px;
    margin: auto;
}


/* section 1 */

.info-section-01 {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.info-section-container {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
}

.info-section-heading {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 0px 70px 0px;
}

.info-section-heading::after {
    content: '';
    position: absolute;
    border: 2px solid var(--theme-primary);
    border-radius: var(--border-radius-large);
    width: 60vw;
    max-width: 300px;
    height: 95%;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.info-section-heading-frida {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--theme-background-1);
    width: min-content;
}

.info-section-heading-frida-text {
    color: var(--theme-accent-4);
    font-size: 8.5rem;
    font-family: var(--typography-font-primary-bold);
    line-height: 8.5rem;
}

.info-section-text {
    padding: 30px 0px 30px 0px;
}

.info-section-text-large {
    width: 100%;
    padding: 60px 0px 0px 0px;
}

.info-section-heading--desktop {
    display: none;
    width: 90%;
}

.info-section-text-large, .info-section-text {
    text-align: center;
}

.info-section-heading--mobile {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-button {
    width: 220px;
}

.card {
    position: relative;
    overflow: hidden;
}

.info-section-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    
    background-color: var(--theme-background-accent-2);
    border-radius: var(--border-radius-large);
}

.info-section-card-heading {
    font-size: 1.8rem;
}

.info-section-card-tag {
    width: min-content;
    cursor: pointer;
    padding: 0px 20px;
    line-height: 1.2rem;
    font-size: .8rem !important;
    margin: 20px 0px;
    color: var(--theme-gradient-1) !important;
    border: 2px solid var(--theme-gradient-1);
    border-radius: var(--border-radius);
}

.info-section-card-text {
    padding: 10px 0px 220px 0px;
    max-width: 250px;
}

.info-section-card-image {
    position: absolute;
    right: -70px;
    bottom: 0;
    width: 120%;
    max-width: 480px;
}

.info-section-line {
    margin-top: 20px;
    width: 200%;
    height: 2px;
    background-color: var(--theme-primary);
}

@media all and (min-width: 550px) {
    .info-section-heading-frida {
        flex-direction: row;
    }

    .info-section-heading::after {
        width: 70vw;
        max-width: 1000px;
    }

    .info-section-card {
        flex-direction: row;
    }

    .info-section-card-text {
        padding-bottom: calc(-20vw + 250px);
    }

    .info-section-heading-frida-text:nth-child(2) {
        text-transform: lowercase;
    }
}

@media all and (min-width: 750px) {

    .info-section-01 {
        flex-direction: row;
        justify-content: space-between;
    }

    .info-section-container {
        flex-grow: 1;
        width: 70%;
    }

    .info-section-heading {
        padding: 0px 45px !important;
        height: min-content;
        margin: 0px 30px 50px 0px;
    }

    .info-section-heading-frida-text {
        font-size: 5.5rem;
        line-height: 4.5rem;
    }

    .info-section-heading::after {
        height: 100%;
        left: 0px;
        top: 50px;
        width: 100% !important;
        transform: none;
    }

    .info-section-heading--desktop {
        display: block;
    }

    .info-section-heading--mobile {
        display: none;
    }

    .info-section-card {
        width: 300px;
        height: 540px;
        margin: 45px 0px 0px 0px;
        flex-grow: 0;
    }

    .info-section-text-large {
        width: 90%;
    }

    .info-section-card-text {
        padding-bottom: 0px;
    }

    .info-section-text-large, .info-section-text {
        text-align: left;
    }
}

@media all and (min-width: 1200px) {
    .info-section-heading-frida-text {
        font-size: 7rem;
    }
}

/* section 2 */


.benefit-section-02 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 5vw;
    max-width: 800px;
}

.benefit-section-item {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 40px auto;
    column-gap: 15px;
    row-gap: 10px;
    justify-content: center;
    padding: 30px 0px;
    width: 90%;
    margin: auto;
}

.benefit-section-item-image {
    position: relative;
    
    background-color: var(--theme-primary);
    opacity: .5;
    width: 90px;
    height: 90px;
    border-radius: 50%;

    grid-row: 1 / 2;
    grid-column: 1;
}

.benefit-section-item-image-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--theme-on-primary);
}

.benefit-section-item-heading {
    grid-row: 1;
    grid-column: 2;

    font-size: 1.7rem;
}

.benefit-section-item-text {
    grid-row: 2;
    grid-column: 2;
}

@media all and (min-width: 750px) {
    .benefit-section-02 {
        flex-direction: row;
    }

    .benefit-section-item {
        grid-template-columns: 100px auto;
        column-gap: 20px;
        padding: 0px;
        margin: 0px;
    }

    .benefit-section-item-image {
        width: 100px;
        height: 100px;
    }
}



/* section 03 */

.contact-section-03 {
    display: flex;
    flex-direction: column;
}


/* Contact section left*/

.contact-section-info {
    position: inherit;
    padding: 0px 0px 50px 0px;
    max-width: 450px;
}

.contact-section-info-heading {
    font-size: 2.2rem;
    width: 80%;
    padding: 0px 0px 20px 0px;
}

.contact-section-info-content {
    flex-direction: column;
    display: none;
    padding-top: 40px;
    padding-left: 20px;
    row-gap: 10px;
}

.contact-section-info-content-item {
    display: grid;
    position: relative;
    width: 200px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 15px;
    padding: 0px 15px;
    width: fit-content;
    cursor: pointer;
    transform-origin: center;
}

.contact-section-info-content-item:hover {
    background-color: var(--theme-primary-light);
    padding: 5px 15px;
    border-radius: var(--border-radius);
    transition: .1s ease;
}

.contact-section-info-content-item:hover .contact-section-info-content-copy {
    display: block;
}

.contact-section-info-content-copy {
    position: relative;
    background-color: var(--theme-background-3);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: var(--typography-font-secondary);
    font-size: .8rem;
    color: var(--theme-on-background);
    display: none;
    width: min-content;
    justify-self: end;

    grid-column: 2;
    grid-row: 1;
}

.contact-section-info-content-copy::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 0;
    border-top: 10px solid var(--theme-background-3);
    bottom: -8px;
    left: 10px;
}

.contact-section-info-text {
    width: 70%;
}

.contact-section-info-content-icon {
    color: var(--theme-primary);
    grid-column: 1;
    grid-row: 2;
}

.contact-section-info-content-text {
    font-family: var(--typography-font-secondary-medium) !important;
    grid-column: 2;
    grid-row: 2;
}

/* contact section right */

.contact-section-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
    width: 90%;
    margin: 0 auto;

    /* gradient border */
    background: linear-gradient(white, white) padding-box,
                linear-gradient(135deg, var(--theme-primary) 50%, var(--theme-accent-4)) border-box;
    border-radius: var(--border-radius-large);
    border: 2px solid transparent;
    padding: 40px;

    /* single color border */

    /* padding: 40px;
    border: 2px solid var(--theme-primary);
    border-radius: var(--border-radius-large); */
}

.form-first-name {
    grid-column: 1;
    grid-row: 1;
}

.form-last-name {
    grid-column: 2;
    grid-row: 1;
}

.form-email {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.form-message {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.form-button {
    grid-column: 1;
    grid-row: 4;
}

.contact-section-form-item {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.contact-section-form-text {
    font-family: var(--typography-font-secondary-bold);
    font-size: 1rem;
    color: var(--theme-on-background);
}

.contact-section-form-field {
    background: transparent;
    font-family: var(--typography-font-primary);
    outline: none;
    border: 1px solid var(--theme-background-2);
    border-radius: 15px;
    height: 40px;
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px 10px;
    font-size: .9rem;
    color: var(--theme-on-background);
}

.contact-section-form-text::after {
    content: '*';
    color: var(--theme-gradient-1);
    font-family: inherit;
    font-size: inherit;
    display: none;
}

.contact-section-form-field:autofill {
    background: transparent !important;
}

.contact-section-form-field:-webkit-autofill {
    background: transparent !important;
}

.textarea {
    height: 100%;
}


@media all and (min-width: 750px) {
    .contact-section-03 {
        flex-direction: row;
    }

    .contact-section-info-content {
        display: flex;
    }

    .contact-section-info {
        padding: 0px;
    }

    .contact-section-form {
        width: auto;
        margin: 0;
    }
    
}