*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    width: 90%;
    max-width: 1100px;
    padding: 50px 0px 50px 0px;
    margin: auto;
}

.info-section-heading {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 0px 70px 0px;
}

.info-section-heading::after {
    content: '';
    position: absolute;
    border: 2px solid var(--theme-primary);
    border-radius: var(--border-radius-large);
    width: 60vw;
    max-width: 300px;
    height: 95%;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.info-section-heading-frida {
    color: var(--theme-gradient-1);
    background-color: var(--theme-background-1);
    font-size: 8.5rem;
    font-family: var(--typography-font-primary-bold);
    line-height: 8.5rem;
    z-index: 1;
    width: min-content;
}

.info-section-text {
    padding: 30px 0px 30px 0px;
}

.section-button {
    padding: 15px 70px;
}


.card {
    position: relative;
    overflow: hidden;
}

.info-section-card {
    width: 90%;
    max-width: 400px;
    height: 600px;
    margin: 50px auto;
    padding: 30px;
    
    background-color: var(--theme-background-accent-2);
    border-radius: var(--border-radius-large);
}

.info-section-card-heading {
    font-size: 2.2rem;
}

.info-section-card-tag {
    width: min-content;
    padding: 0px 35px;
    line-height: 1.5rem;
    margin: 20px 0px;
    color: var(--theme-gradient-1) !important;
    border: 2px solid var(--theme-gradient-1);
    border-radius: var(--border-radius);
}

.info-section-card-text {
    padding: 10px 0px;
}

.info-section-card-image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 480px;
}

@media all and (min-width: 550px) {
    .info-section-heading {
        flex-direction: row;
    }

    .info-section-heading::after {
        width: 420px;
        max-width: 1000px;
    }
}


@media all and (min-width: 700px) {

}

@media all and (min-width: 1000px) {

}