@import 'fonts.css';

:root {


    /* colors */
	--theme-background-1: hsl(0, 0%, 100%);
    --theme-backround-2: hsl(0, 0%, 99%);
    --theme-accent-background: hsl(345, 100%, 92%);

    --theme-on-background: hsl(224, 34%, 26%);
	
	--theme-primary: hsl(222, 81%, 56%);
	--theme-on-primary: hsl(0, 0%, 100%);

	
	--theme-accent-1: hsl(244, 88%, 67%);
	--theme-accent-2: hsl(175, 76%, 52%);
	
	--theme-gradient-1: hsl(337, 63%, 48%);
	--theme-gradient-2: hsl(5, 100%, 67%);


     /* typography */
	--typography-font-primary: 'Nunito Sans Light';
    --typography-font-primary-bold: 'Nunito Sans Black';
    --typography-font-secondary: 'Ubuntu Light';
    --typography-font-secondary-bold: 'Ubuntu Bold';

    --border-radius: 25px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.heading {
    color: var(--theme-on-background);
    font-family: var(--typography-font-primary-bold);
}

.text {
    color: var(--theme-on-background);
    font-family: var(--typography-font-primary);
}

.nav {
    background-color: var(--theme-background-1);
}

.logo {
    font-family: var(--typography-font-primary);
}

.nav-list-item__text {
    color: var(--theme-on-background);
    font-family: var(--typography-font-primary-bold);
}

.list--flex {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.primary-button, .secondary-button {
    border-radius: var(--border-radius);
    outline: none;
    border: none;
}

.primary-button {
    color: var(--theme-on-primary);
    background-color: var(--theme-primary);
}

.secondary-button {
    color: var(--theme-primary);
    background-color: var(--theme-background-1);
    border: 1px solid var(--theme-primary);
}   

.primary-button-text, .secondary-button-text {
    font-family: var(--typography-font-secondary-bold);
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}